.hero-text{
    font-family: 'Russo One', sans-serif;
    letter-spacing: 1.5px;
}
.intro-text{
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 1.5rem;
}
.mq-text{
    font-family: 'Russo One', sans-serif;
}